.panel-status-menu-box {
    spacing: 3px; /* Adjust spacing between icons */
}

.system-status-icon {
    padding: 2px;
}

.system-status-icon StIcon {
    icon-size: 16px;
}

.spotify-icon {
    icon-size: 16px; 
    color: inherit; 
}

